@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
*,
html {
  margin: 0;
  padding: 0;
}
html {
  height: 570px;
}
body {
  background: url(./images/bg-pattern-desktop.svg) no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 766px;
  padding-left: 100px;
}

.hero {
  height: 768px;
  width: 100%;
}

.logo {
  margin-top: 60px;
  margin-bottom: 60px;
}

.text {
  letter-spacing: 33px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  line-height: 80px;
}
.text {
  color: hsl(0, 6%, 24%);
}
.text span {
  font-weight: normal;
  color: hsl(0, 36%, 70%);
}

.para {
  line-height: 25px;
  color: hsl(0, 36%, 70%);
  margin-bottom: 20px;
}

input {
  color: hsl(0, 6%, 24%);
  padding-left: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 35px;
  width: 300px;
  border-radius: 40px;
  outline: none; /* Retire la bordure orange appliquée par certains
  navigateurs (Chrome notamment) lors du focus des éléments <input> */
  border: 1px solid hsl(0, 36%, 70%);
}
.inputa {
  border: 2px solid hsl(0, 93%, 68%);
}


::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: cursive, sans-serif;
  font-size: 15px;
}
.error {
  height: 15px;
  margin-left: -60px;
  margin-top: 30px;
  position: absolute;
  top: 614px;
  visibility: hidden;
}

button {
  height: 38px;
  width: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 10px 9px 41px -1px rgba(206,151,151,0.87);
-webkit-box-shadow: 10px 9px 41px -1px rgba(206,151,151,0.87);
-moz-box-shadow: 10px 9px 41px -1px rgba(206,151,151,0.87);
  margin-left: -35px;
  position: absolute;
  top: 632px;
}

button:hover {
  background: hsl(0, 36%, 70%);
}

.diserror {
  visibility:hidden;
  color: hsl(0, 74%, 74%);
  margin-left: 20px;
  font-size: 14px;
  font-family: fantasy;
}

/* @media (max-width:1090px){
  .error {
    height: 15px;
    margin-left: -60px;
    margin-top: 30px;
    position: absolute;
    top: 445px;
  }

  button {
    height: 38px;
    width: 70px;
    margin-left: -35px;
    position: absolute;
    top: 465px;
  }
} */

@media (max-width: 1024px) {
  .row {
    display: flex;
    justify-content: space-between;
    height: 1024px;
    padding-left: 30px;
  }

  .hero {
    height: 100%;
    width: 340px;
  }
  body {
    font-size: 15px;
  }
  .logo {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .text {
    letter-spacing: 33px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 80px;
  }
  .text {
    color: hsl(0, 6%, 24%);
  }
  .text span {
    font-weight: normal;
    color: hsl(0, 36%, 70%);
  }
  
  .para {
    line-height: 25px;
    color: hsl(0, 36%, 70%);
    margin-bottom: 60px;
  }


  input {
    width: 250px;
  }

  .error {
    height: 15px;
    margin-left: -60px;
    margin-top: 30px;
    position: absolute;
    top: 657px;
  }

  button {
    height: 38px;
    width: 70px;
    margin-left: -35px;
    position: absolute;
    top: 672px;
  }
}
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-left: 0;
  }

  .logo {
    
    margin-bottom: 40px;
    position: absolute;
    bottom: 660px;
    left: 20px;
  }

  .text {
    letter-spacing: 25px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 80px;
    position: relative;
    top: -200px;
    line-height: 70px;
    
  }
  .para {
    line-height: 25px;
    color: hsl(0, 36%, 70%);
    margin-bottom: 20px;
    position: relative;
    top: -200px;
  }
  input {
    width: 300px;
    margin-left: 60px;
    margin-bottom: 50px;
    position: relative;
    bottom: 150px;
  }
  
  p {
    text-align: center;
  }
  .error {
    height: 15px;
    margin-left: -60px;
    margin-top: 30px;
    position: absolute;
    top: 855px;
  }

  button {
    height: 38px;
    width: 70px;
    margin-left: -35px;
    position: absolute;
    top: 874px;
  }


  .hero1{
    height: 350px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    top: -60px;
  }
  .diserror {
    
    margin-top: -200px;
    margin-left: -180px;
  }
}

@media (max-width: 480px) {
  .logo {
    
    margin-bottom: 40px;
    position: absolute;
    bottom: 660px;
    left: 20px;
  }
  .text {
    letter-spacing: 25px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 80px;
    position: relative;
    top: -200px;
    line-height: 70px;
    
  }
  .para {
    line-height: 15px;
    color: hsl(0, 36%, 70%);
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  input {
    width: 200px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    bottom: 150px;
  }
  
  
  /* .error {
    height: 15px;
    margin-left: -60px;
    margin-top: 30px;
    position: absolute;
    top: 855px;
  }

  button {
    height: 38px;
    width: 70px;
    margin-left: -35px;
    position: absolute;
    top: 874px;
  } */

  .hero {
    height: 250px;
    width: 320px;
  }
  .diserror {
    margin-left: -70px;
  }
}

@media (max-width: 320px) {
  .logo {
    
    margin-bottom: 40px;
    position: absolute;
    bottom: 660px;
    left: 20px;
  }
  .text {
    letter-spacing: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 80px;
    position: relative;
    top: -250px;
    line-height: 60px;
    
  }
  .para {
    line-height: 20px;
    color: hsl(0, 36%, 70%);
    margin-bottom: 20px;
    position: relative;
    top: -250px;
  }

  button {
    height: 38px;
    width: 60px;
    margin-left: -35px;
    position: absolute;
    top: 874px;
  }


  .hero1{
    height: 350px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    top: -60px;
  }
  .diserror {
    
    margin-top: -200px;
    margin-left: -40px;
  }
  ::placeholder {
    font-size: 11px;
  }
  input {
    width: 150px;
    margin-left: 10px;
  }
}
